.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  text-align: center;
}

table {
  border: solid black 1px;
  display:block;
  margin-right: auto;
  margin-left: auto;
  width: 870px;
  table-layout: fixed;
  
}

.complete {
  background-color: aquamarine;
  width: 870px;
  margin-left: auto;
  margin-right: auto;
}

#listDesc {
  word-break: break-all;
  width: 67%;
  table-layout: fixed;
  border-left: solid black 1px;
  padding-left: 5px;
  
}

#other {
  width: 9%;
  table-layout: fixed;
  text-align: center;
  border-left: solid black 1px;
}

#inputIt {
  text-align: center;
}

#undo, #delete {
  table-layout: fixed;
  width: 73px;
}

#rank {
  width:3%;
  table-layout: fixed;
}

